html {
  box-sizing: border-box;
}

*, *::before,*::after {
  box-sizing: inherit;
}

body {
	max-width: 100%;
	margin: 0 auto;
	padding-top: 0.9375em;
	font-family: Montserrat, sans-serif;
	font-size: 100%;
	background: white;
	color: black;
}
header {
	max-width: 960px;
	margin: 0 auto;
	height: auto;
}

a, p, h1, h2 {
	text-decoration: none;
	color: black;
	margin:0;
	padding:0
}

.pre_header {
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	display: flex;
	flex-flow: row wrap;
	opacity: 0.7;
}

.logo,.name,.number {
	flex-grow: 1;
}

.logo {
	display: flex;
	justify-content: flex-end;
	padding: 0.3125em; /* 5/16 */
}

.logo img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	padding: 0.4375em /* 7/16 */
}

.name {
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center
}

.name h1 {
	font-weight: lighter;
	text-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	padding: 0.3125em; /* 5/16 */
	font-size:2.1875em /* 35/16 */
}
.name span {
	font-weight: bold;
	letter-spacing: 0.1875em; /* 3/16 */
	margin-left: 0.625em; /* 10/16 */

}

.number p {
	padding: 0.2em 0.2em; /* 5/16 */ /* 5/16 */ /* 7/16 */
	font-size: 0.875em; /* 14/16 */
}

.fa-envelope, .fa-mobile-alt {
	margin-right: 0.5625em; /* 9/16 */
	margin-top: 0.3125em; /* 5/16 */
	font-size: 1em;
}

.fa-mobile-alt {
	margin-right: 0.75em; /* 12/16 */
	margin-left: 0.1875em; /* 3/16 */
}

nav {
	max-width: 960px;
	margin:  0 auto;
}

.navbar {
	border-top: thin solid grey;
	border-bottom: thin solid grey;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: center;
	vertical-align: bottom;
	text-align: center;
	list-style: none;
	margin: 0 auto;
	padding: 0.4em 0 0.32em 1.25em; /* 5/16 */ /* 5/16 */ /* 20/16 */
}

.navbar li {
	text-transform: uppercase;
	letter-spacing: 0.3125em; /* 5/16 */
	font-weight:600;
	margin: 0.1em 2em 0.0em 0em; /* 0/16 */ /* 28/16 */ /* 0/16 */
}

.navbar .fa-home {
	font-size: 1.875em; /* 30/16 */
	margin-bottom: 0.125em; /* 2/16 */
}

.navbar li a {
	padding: 0.6875em 0.25em 0.5625em 0.5625em ; /* 11/16 */ /* 4/16 */ /* 9/16 */ /* 9/16 */
}

.navbar li.home_button a {
	padding: 1em 0.125em 0.25em 0.4375em; /* 2/16 */ /* 4/16 */ /* 7/16 */
}

.navbar li a:hover,
.fa-home:hover a {
  background:#BEE9E3;
  border-radius: 0.4375em; /* 7/16 */
  text-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
}

nav ul li a.home_active,
.gallery_active,
.about_me_active,
.contacts_active,
.projects_active,
.references_active {
  background:#BEE9E3;
  box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
  border-radius: 0.4375em; /* 7/16 */
  text-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
}

.all_active,
.interier_active,
.exterier_active,
.furniture_active,
.art_active
 {
  background: #BDC85B;
  box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
  border-radius: 0.4375em; /* 7/16 */
  text-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
}

/* link_index main */

.link_index {
	position: relative;
	margin: 0 auto;
	max-width: 960px;
	height: auto;
}

.link_index img {
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

main .text {
	display:  flex;
	position: absolute;
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif;
	top: 0%;
	left:46%;
	right: 0%;
	bottom:0%;
	padding: 0.3125em; /* 5/16 */
	margin: 0.9375em; /* 15/16 */
	line-height: 2.1875em;/* 35/16 */
	font-size: 1.25em; /* 20/16 */
}

.text mark {
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	background-color: rgb(166, 124, 140, 0.4);
	color: black;
	font-weight: bold;
	padding-left: 0.3125em; /* 5/16 */
}

.link_index ul {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	position: absolute;
	list-style: none;
	text-align: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	top: 90%;
	left:0%;
	right:0%;
	bottom:0%;
	font-weight: bold;
	font-size: 1.5625em; /* 25/16 */
	font-family: 'Open Sans Condensed', sans-serif;
}

.link_index li {
	margin-right: 1.0625em /* 17/16 */
}

.link_index li:last-child {
	margin: 0em; /* 0/16 */
}

.link_index ul mark {
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	background-color: rgb(0, 0, 0, 0.7);
	color: white;
	padding: 0.125em 0.5625em 0.3125em 0.5625em; /* 2/16 */ /* 9/16 */ /* 5/16 */ /* 9/16 */
	text-transform: uppercase;
}

/* link_about_me*/

.link_about_me {
	background-image: url('../images/pic_5.jpg');
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
}

div.about_me_left {
	flex-grow: 1;
	max-width: 500px;
}



/* link_contacts*/


.link_contacts img {
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	max-width: 100%;
	opacity: 1;
	height: auto;
	vertical-align: middle;
}

main.link_contacts {
  position: relative;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  height: auto;¨
}

section.address {
  position: absolute;
  top: 10%;
  left:0%;
  right: 0%;
  bottom:0%;
  padding-top: 3.125em; /* 50/16 */
  margin-left: 1.5625em; /* 25/16 */
}

.address mark {
	box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
	background-color: rgb(0, 0, 0, 0.7);
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	font-size: 1.375em; /* 22/16 */
	letter-spacing: 0.125em; /* 2/16 */
	padding: 0 0.1875em 0.0625em 0.1875em /* 3/16 */ /* 1/16 */ /* 3/16 */
}

mark a {
	color: white;
}

mark a:hover {
	color: purple;
}

section.map {
  position: absolute;
  top: 8%;
  left:42%;
  right:0%;
  bottom:0%;
  padding-top: 0.9375em; /* 15/16 */
}

.address li {
  list-style: none;
  line-height: 2em /* 32/16 */
}

div iframe {
  box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
  max-width: 100%;
  height: 500px;
  border-radius: 50%;
}

/*link_ gallery*/

main.link_gallery {
  box-shadow: 0.125em 0.125em 0.25em grey; /* 2/16 */ /* 2/16 */ /* 4/16 */
  margin: 0 auto;
  padding: 0.5em; /* 8/16 */
  max-width:960px;
  display: flex;
  background-color: rgb(180, 200, 217, 0.1);
}

.gallery_left {
  flex-grow: 1;
  height: 13.4375em; /* 215/16 */
  padding-right: 0.5em; /* 8/16 */
  border-right: thin solid black;
}

.gallery_right {
  max-width: 800px;
}

.link_gallery ul {
  margin-top:0.3125em; /* 5/16 */
  padding:0em; /* 0/16 */
  list-style: none;
  letter-spacing: 5px;
  text-transform: uppercase
  ;
  font-weight: bold;
}

.link_gallery li {
	margin-top: 0.3125em; /* 5/16 */
}

.link_gallery ul a{
  padding: 0.5625em 0.125em 0.4375em 0.3125em; /* 9/16 */ /* 2/16 */ /* 7/16 */ /* 5/16 */
  max-width: 150px;
  display: block;
}

.link_gallery ul a:hover {
  background: #BDC85B;
  border-radius: 0.4375em; /* 7/16 */
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
}

ul li {
	height: 10px;
	flex-grow: 1;
}

ul li img {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
}

/*.container_gallery img {
	width: 100%;
	max-height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position:  relative;
	display:  flex;
	align-items: center;
	justify-content: center;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  flex: 1 1 auto;
  margin: 5px;
  filter: grayscale(90%);
  transition: 0.5s;
}*/

.container_gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.01)
}


footer {
  max-width: 960px;
  margin: 0 auto;
  height: auto;
  color: #787878;
  font-size: 0.875em; /* 14/16 */
  text-align: right;
  margin-top: 3.125em; /* 50/16 */
  margin-bottom: 1.875em /* 30/16 */
}